* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	height: 75dvh;
	width: 80%;
	background-color: #e6e8e6;
	position: relative;
}

#circle,
#cube,
#square,
#triangle {
	/* width: 5em; */
	width: 5em;
	position: absolute;
	/* height:; */
}

#circle > path,
#cube > path,
#triangle > path {
	stroke-width: 2px;
}

#circle {
	top: 1em;
	left: 1em;
	fill: #71b0d1;
}

#cube {
	bottom: 20%;
	right: 20%;
	fill: green;
}
#square {
	top: 27%;
	right: 7%;
	fill: purple;
}
#triangle {
	bottom: 40%;
	left: 25%;
	fill: hotpink;
}

.cursor {
	position: absolute;
	width: 2em;
	height: 2em;
	border: 3px solid #000;
	transition: 0.1s;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	pointer-events: none;
	z-index: 100;
}

.big {
	width: 5em;
	height: 5em;
	background-color: #ecaa30;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Text {
	font-size: 1.3rem;
	border-radius: 50%;
	z-index: 999;
}

.appear {
	display: none;
}
